<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>
	feedbackform</display-name>
	<servlet>
		<description>
		</description>
		<display-name>
		studentlogin</display-name>
		<servlet-name>studentlogin</servlet-name>
		<servlet-class>
		studentlogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		StudentFeedBack</display-name>
		<servlet-name>StudentFeedBack</servlet-name>
		<servlet-class>
		StudentFeedBack</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		teacherreport1</display-name>
		<servlet-name>teacherreport1</servlet-name>
		<servlet-class>
		teacherreport1</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		allteacherreport</display-name>
		<servlet-name>allteacherreport</servlet-name>
		<servlet-class>
		allteacherreport</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>studentlogin</servlet-name>
		<url-pattern>/studentlogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentFeedBack</servlet-name>
		<url-pattern>/StudentFeedBack</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>teacherreport1</servlet-name>
		<url-pattern>/teacherreport1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>allteacherreport</servlet-name>
		<url-pattern>/allteacherreport</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
